<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Browser" value="Chrome"/>
		<add key="Username" value="abc"/>
		<add key="Password" value="abc"/>
		<add key="Website" value="http://yahoo.com"/>
		<add key="PageLoadTimeOut" value="40"/>
		<add key="ElementLoadTimeOut" value="40"/>
	</appSettings>
</configuration>